/* Serif */
@font-face {
  font-family: serif;
  font-style: normal;
  font-weight: 200;
  src: local('Neuton Extralight'), local('Neuton-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/neuton/v5/maaeJj3-A9PyaYkK-JTH57O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: serif;
  font-style: normal;
  font-weight: 300;
  src: local('Neuton Light'), local('Neuton-Light'), url(http://themes.googleusercontent.com/static/fonts/neuton/v5/J5D-RCrKKH_9lSoxkco60bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  src: local('Neuton Regular'), local('Neuton-Regular'), url(http://themes.googleusercontent.com/static/fonts/neuton/v5/lwXky8Z604OsPuAIeUr7qOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: serif;
  font-style: normal;
  font-weight: 700;
  src: local('Neuton Bold'), local('Neuton-Bold'), url(http://themes.googleusercontent.com/static/fonts/neuton/v5/v8ddH4VthwRj7v3g9elwprO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: serif;
  font-style: normal;
  font-weight: 800;
  src: local('Neuton Extrabold'), local('Neuton-ExtraBold'), url(http://themes.googleusercontent.com/static/fonts/neuton/v5/sFrCOZyTyEAHf4DVfROzbLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: serif;
  font-style: italic;
  font-weight: 400;
  src: local('Neuton Italic'), local('Neuton-Italic'), url(http://themes.googleusercontent.com/static/fonts/neuton/v5/pM_PEF4eyBHj7QQulGzNjHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

/* Sans-serif */
@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local('Signika-Light'), url(http://themes.googleusercontent.com/static/fonts/signika/v3/Z-FsjIS3sPD5Zt6xiv44R73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(sans-serif), local('Signika-Regular'), url(http://themes.googleusercontent.com/static/fonts/signika/v3/a4UjYmRBuLgi7ce4oxgshgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local('Signika-Semibold'), url(http://themes.googleusercontent.com/static/fonts/signika/v3/8-PQNacfI9IhpgehJGCuGL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('Signika-Bold'), url(http://themes.googleusercontent.com/static/fonts/signika/v3/F587cG5P5ff3TX6w4Jlor73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
