<!DOCTYPE html>
<html lang='pl'>
    <head>
        <meta charset='utf8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/style.css">
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    </head>
    <body>
		<header>
		</header>
		{{ content }}
		<footer>
			Odwiedź <a href="https://www.facebook.com/bezmostow">miasto Bezmostów na Facebooku</a>. <br> Tak bezpieczniej.
    </body>
</html>
